<footer>
    <div class="top">
        <li><img class="logo" src="../../assets/Logo.png" alt=""></li>
        <li>
            <img src="../../assets/icons8-facebook-50.png" alt="">
            <img src="../../assets/icons8-instagram-50.png" alt="">
            <img src="../../assets/icons8-linkedin-50.png" alt="">
            <img src="../../assets/icons8-twitter-50.png" alt="">
        </li>
    </div>
    <div>
        <li><button (click)="footModals('guid')">Guidlines</button></li>
        <li><button (click)="footModals('privacy')">Privacy Policy</button></li>
        <li><button (click)="footModals('terms')">Terms & Conditions</button></li>
        <li><button>Help & Support</button></li>
    </div>
</footer>