<header>
    <img src="../../assets/man-1.png" alt="">
    <button (click)="openRegister()">Become a Tester</button>
    <img src="../../assets/man-2.png" alt="">
</header>
<div class="works">
    <h1>How QA Lab Works?</h1>
    <div class="first-div d-flex">
        <div>

        </div>
        <div>
            <h2>Grow with our Team and work as tester</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium nisi rerum doloribus est
                voluptatibus in, veniam excepturi dignissimos quo aut ad, ipsum doloremque eum architecto nesciunt
                corporis quibusdam sequi officia?</p>
        </div>
    </div>
    <div class="second-div">

    </div>
</div>
<div class="become-tester">
    <h1>Way to Become professional testers</h1>
    <div class="cards">
        <div class="card">
            <li><h2>FIRST STEP</h2></li>
            <li><div class="test"><img src="../../assets/register.png" alt=""></div></li>
            <li><p>Registration</p></li>
        </div>
        <div class="card">
            <li><h2>SECOND STEP</h2></li>
            <li><div class="test"><img src="../../assets/graduation.png" alt=""></div></li>
            <li><p>Complete Our Courses</p></li>
        </div>
        <div class="card">
            <li><h2>THIRD STEP</h2></li>
            <li><div class="test"><img src="../../assets/working.png" alt=""></div></li>
            <li><p>Take Your First Job</p></li>
        </div>

    </div>
</div>