<div class="main-div">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus saepe eum vero cupiditate quas numquam architecto voluptas corporis provident, inventore nesciunt, placeat voluptates necessitatibus error facilis iusto aut obcaecati iure?</h1>
    <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
   <ul class="list-unstyled">
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati corporis quibusdam tenetur ullam iste veniam eaque magni pariatur adipisci cum, autem reiciendis sapiente modi, repellendus officiis est sit eum amet.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li> Enim, pariatur unde velit asperiores iste sed accusamus alias incidunt itaque. Quas temporibus possimus odio quisquam fugiat, consequatur quis odit officiis maxime?</li>
    <li>lorem</li>
   </ul>

</div>