<div class="right d-flex flex-column align-items-center justify-content-evenly">
    <img src="../../assets/Profile.png" alt="">
    <div class="d-flex w-75 justify-content-evenly names">
        <h2>Name</h2>
        <h2>LastName</h2>
    </div>
    <div class="card">
        <p class="mx-auto title">TEST CYCLES</p>
        <ul class="list-unstyled">
            <li>
                <p>Lorem Ipsum agra... </p><small>4min</small>
            </li>
            <li>
                <p>Lorem Ipsum garg...</p> <small>4min</small>
            </li>
            <li>
                <p>Lorem Ipsum </p><small>4min</small>
            </li>
        </ul>
    </div>
    <div class="card">
        <p class="mx-auto title">ISSUES</p>
        <ul class="list-unstyled">
            <li>
                <p>Lorem Ipsum agra... </p><small>4min</small>
            </li>
            <li>
                <p>Lorem Ipsum garg...</p> <small>4min</small>
            </li>
            <li>
                <p>Lorem Ipsum </p><small>4min</small>
            </li>
        </ul>
    </div>
    <div class="card">
        <p class="mx-auto title">TEST CASES</p>
        <ul class="list-unstyled">
            <li>
                <p>Lorem Ipsum agra... </p><small>4min</small>
            </li>
            <li>
                <p>Lorem Ipsum garg...</p> <small>4min</small>
            </li>
            <li>
                <p>Lorem Ipsum </p><small>4min</small>
            </li>
        </ul>
    </div>
    <div class="spacer"></div>
</div>