<div class="main-div">
    <mat-grid-list cols="4" rowHeight="170px" gutterSize="20px">
        
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <p class="number">1</p>
            <div>
                <p><strong>INTRODUCTION</strong></p>
                <p>description</p>
                <button>START</button>
            </div>
        </mat-grid-tile>
        
    </mat-grid-list>
</div>