.main-div {
    width: 80%;
    height: 800px;
    margin: auto;
    position: relative;
    top: 150px;
}
.left {
    width: 73%;
    height: 100%;
    background: #D4D7E8;
    border: 2px solid #000000;
    border-radius: 25px;
}

.right {
    width: 23%;
    height: 100%;
    background: blue;
    background: #D4D7E8;
    border: 2px solid #000000;
    border-radius: 25px;
}